# Entorno
.env
.env.*
!.env.example

# Dependencias
/vendor/
/node_modules/

# Archivos generados
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db


# npm
package-lock.json
yarn.lock

# Archivos temporales
*.tmp
*.log